body{
    background: #1c1e26;
    height: 100vh;
}
.grid{
    margin: 100px ;
    
    justify-content: center;
    
}

.navbar{
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;
    justify-content: space-between;
}

.navitems{
    float: right;
    justify-content: space-between;
    
}